<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="car-renting Application Test Suite" annotations="1.5">
    <test name="Beans Tests">
        <packages>
            <package name="com.aleksaantelj.carrenting.model.beans"/>
        </packages>
    </test>
     <test name="Services Tests">
        <packages>
            <package name="com.aleksaantelj.carrenting.service.impl"/>
        </packages>
    </test>
     <test name="Selenium Tests">
         <packages>
            <package name="com.aleksaantelj.carrenting.test.selenium.*"/>
        </packages>
    </test>
</suite>
